@using SportsStore.WebUI.HtmlHelpers;
@model SportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}
@foreach(var pro in Model.Products)
{
    Html.RenderPartial("ProductSummary", pro);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
<h2>List</h2>
